.card{
  width: 450px;
  height: 783px;
  overflow: hidden;
}
.item{
  height: 110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  background: linear-gradient(0deg, #F4F7FC, #F4F7FC), #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  margin-bottom: 16px;
  .title{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      margin-bottom: 2px;
    }
  }
  .content{
    color: #666;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .col{
    display: inline-flex;
    width: 33.3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
